@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;700;800&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css');

:root {
  
  --primary: #ffffff;
  --background-color: #E3E9EE;
  --logo-color: #39819d;
  --logo-text-color: #2a2323;
  --topnav-text: #2F7693;
  --topnav-line: #2F7693;
  --border-color-1: #39819d;
  --border-color-2: #39819d;
  --border-radius: 10px;
  --line-color: #39819d;
  --tasks-line: #39819d;
  --task-controls: #2F7693;
  --footer-line: #2F7693;
  --btn-background: #2F7693;
  --btn-border: #2F7693;
  --btn-text: #E3E9EE;
  --btn-outline: #2F7693;
  --btn-primary-border: #A5B6B0;
  --btn-primary-background: #A5B6B0;
  --btn-primary-text: #2a2323;
  --badge-color: #39819d;
  --color-input: #2600ff;
  --color-success: #788f8c;
  --color-pending: #B7CED8;
  --color-completed: #B7CED8;
  --color-warning: #000000;
  --color-error: #e2442f;
  --color-info: #000000;
  --color-light: #f2f2f2;
   
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  background-color: var(--background-color);
}

html,
body {
  height: 100%;
}

img {
  /* box-shadow: 0px 3px 5px 5px rgba(0, 0, 0, 0.15); */
  max-width: 100%;
  margin: auto;
}
input,
button,
textarea {
  font: inherit;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus,
textarea:focus {
  outline: 0;
  box-shadow:  0 0 0 0.125rem rgb(0 209 178 / 25%);
  border: solid 1px var(--color-input);
}

.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.125rem rgb(238, 57, 76, 25%);
}
body {
  font-family: 'Dosis', sans-serif;
  font-size: 1rem;
  line-height: 1.7;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2rem;
  line-height: 1.5;
}
h2 {
  font-size: 1.4rem;
}

a {
  color: var(--topnav-text);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0.5rem;
}

.header {
  border-bottom: solid 4px var(--topnav-line);
}

.header .container {
  display: flex;
  align-items: center;
  gap:1rem;
  
}

.nav {
	display:flex;
	gap: 1rem;
	align-items: center;
	justify-content: center;
	flex-basis: 100%;
  font-weight: bold;
}



.nav a:nth-last-child(2) {
	margin-left: auto;
	font-weight: bold;
} 


.logo {
  padding: 0.5rem;
  background-color: var(--logo-color);
  text-decoration: 0;
  color: var(--logo-text-color);
  font-weight: bold;
  text-transform: uppercase;
}
.logo:hover {
  text-decoration: none;
}
/* feature */
.feature {
  display: flex;
  justify-content: space-between;
}
.feature-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.feature-content .cta {
  margin-top: 1rem;
  align-self: flex-start;
}
.feature-image {
  width: 50%;
  height: auto;
}

/* form */

.card {
  border: solid 2px var(--border-color-1);
  padding: 1rem;
  border-radius: var(--border-radius);
  box-shadow: rgb(11 43 158 / 15%) 0px 6px 20px -6px;
  min-width: 400px;
}

/* form */
form > * {
  display: block;
  margin-bottom: 0.5rem;
}

form > input[type='submit'],
form > button {
  margin: 1rem 0;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem;
}

hr {
  height: 2px;
  border: none;
  background-color: var(--line-color);
}

input[type='text'],
input[type='email'],
input[type='password'],
textarea {
  border-radius: var(--border-radius);
  border: solid 2px var(--border-color-2);
  width: 100%;
  padding: 0.25rem 0.75rem;
}

textarea {
  max-height: 7rem;
}

/* Task list */

.tasks {
  list-style: none;
  width: 100%;
  max-width: 450px;
  row-gap: 3rem;
}

.tasks li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 3px var(--tasks-line);
  padding: 0.2rem 2;
  transition: transform .2s;
}

li:hover {
  transform: scale(1.02);
  text-decoration: none;
}

.tasks li:last-of-type {
  border-bottom: none;
}

.task-controls {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.task-controls a {
  color: var(--task-controls);
}

/* task detail */

.task {
  margin-bottom: auto;
}

.badge {
  font-size: 1rem;
  padding: 0.25rem 1rem;
  color: var(--badge-color);
  border-radius: 2rem;
  align-self: flex-start;
}

.badge-completed {
  background-color: var(--color-completed);
}

.badge-pending {
  background-color: var(--color-pending);
}

.completed {
  text-decoration: line-through;
}

.completed:hover {
  text-decoration: line-through;
}
/* footer */
.footer p {
  text-align: center;
  font-weight: normal;
}

.footer {
  margin-top: auto;
  padding: 0.1rem 0;
  border-top: solid 2px var(--footer-line);
}

.btn {
  padding: 0.25rem 0.75rem;
  border-radius: var(--border-radius);
  background-color: var(--btn-background);
  border: solid 1px var(--btn-border);
  color: var(--btn-text);
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  min-width: 6rem;
  text-align: center;
}

.btn:hover {
  text-decoration: none;
}
.btn-outline {
  border: solid 1px var(--btn-outline);
}

.btn-primary {
  border: solid 1px var(--btn-primary-border);
  background-color: var(--btn-primary-background);
  color: var(--btn-primary-text);
}

/* alert */
.alert {
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
}
.alert-error {
  background-color: var(--color-error);
  color: var(--color-light);
}

.alert-warning {
  background-color: var(--color-warning);
  color: var(--color-light);
}

.alert-info {
  background-color: var(--color-info);
  color: var(--color-light);
}

.alert-success {
  background-color: var(--color-success);
  color: var(--color-light);
}

/* utilities */
.text-center {
  text-align: center;
}

.error {
  color: var(--color-error);
}

.full-width {
  width: 100%;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
}

@media (max-width: 768px) {
  .header > .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .brand {
    order: 1;
  }
  .card {
    max-width: 360px;
  }
  .feature {
    flex-direction: column;
  }
  .feature-content,
  .feature-image {
    width: 100%;
  }

  .feature-image {
    order: 1;
  }
  .feature-content {
    order: 2;
    text-align: center;
  }
  .feature-content .cta {
    align-self: center;
  }
}
